<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <meta name="robots" content="noarchive"> -->
    <!-- <meta name="description"
        content="ITT - &quot;/{{ board }}/ - Anime &amp; Manga&quot; is 4chan's imageboard dedicated to the discussion of Japanese animation and manga."> -->
    <meta name="description" content="{{ title_window }}">
    <meta name="keywords" content="imageboard,worksafe,japan,anime,manga,japanese,animation">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/assets/image/favicon-ws.ico">
    <link rel="stylesheet" title="switch" href="/assets/css/yotsubluenew.692.css">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/yotsubanew.692.css" title="Yotsuba New">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/yotsubluenew.692.css" title="Yotsuba B New">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/futabanew.692.css" title="Futaba New">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/burichannew.692.css" title="Burichan New">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/photon.692.css" title="Photon">
    <link rel="alternate stylesheet" style="text/css" href="/assets/css/tomorrow.692.css" title="Tomorrow">
    <link rel="stylesheet" href="/assets/css/yotsubluemobile.692.css">
    <link rel="stylesheet" href="/assets/css/flags.689.css">
    <link rel="canonical" href="/{{ board }}/thread/{{ thread.posts.no }}/{% if thread.posts.sub %}{{ thread.posts.sub|safe }}{% endif %}">
    <link rel="alternate" title="RSS feed" href="/{{ board }}/index.rss" type="application/rss+xml">
    <title>{{ title_window|safe }}</title>
    <script
        type="text/javascript">var style_group = "ws_style", cssVersion = 692, jsVersion = 1046, comlen = 2000, maxFilesize = 4194304, maxLines = 100, clickable_ids = 1, cooldowns = { "thread": 600, "reply": 60, "image": 60 }; var unique_ips = {{ thread.posts[0].unique_ips }}; var maxWebmFilesize = 3145728; var board_archived = true; var spoilers = true; var check_for_block = 1;</script>
    <script type="text/javascript" data-cfasync="false" async=on src="/assets/js/core.min.1051.js"></script>
    <script type="text/javascript" data-cfasync="false" async=on src="/assets/js/extension.min.1118.js"></script>
    <noscript>
        <style type="text/css">
            #postForm {
                display: table !important;
            }

            #g-recaptcha {
                display: none;
            }
        </style>
    </noscript>
</head>

<body class="is_thread board_a"><span id="id_css"></span>
    <div id="boardNavDesktop" class="desktop"><span class="boardList">[<a href="/{{ board }}/" title="Anime & Manga">a</a> / <span
                class="nwsb"><a href="/b/" title="Random">b</a> / </span><a href="/c/"
                title="Anime/Cute">c</a> / <span class="nwsb"><a href="/d/"
                    title="Hentai/Alternative">d</a> / </span><span class="nwsb"><a href="/e/"
                    title="Ecchi">e</a> / </span><span class="nwsb"><a href="/f/" title="Flash">f</a>
                / </span><a href="/g/" title="Technology">g</a> / <span class="nwsb"><a href="/gif/"
                    title="Adult GIF">gif</a> / </span><span class="nwsb"><a href="/h/"
                    title="Hentai">h</a> / </span><span class="nwsb"><a href="/hr/"
                    title="High Resolution">hr</a> / </span><a href="/k/" title="Weapons">k</a> / <a href="/m/"
                title="Mecha">m</a> / <a href="/o/" title="Auto">o</a> / <a href="/p/" title="Photo">p</a> / <span
                class="nwsb"><a href="/r/" title="Adult Requests">r</a> / </span><span class="nwsb"><a
                    href="/s/" title="Sexy Beautiful Women">s</a> / </span><span class="nwsb"><a
                    href="/t/" title="Torrents">t</a> / </span><span class="nwsb"><a
                    href="/u/" title="Yuri">u</a> / </span><a href="/v/" title="Video Games">v</a> /
            <a href="/vg/" title="Video Game Generals">vg</a> / <a href="/vr/" title="Retro Games">vr</a> / <a
                href="/w/" title="Anime/Wallpapers">w</a><span class="nwsb"> / <a href="/wg/"
                    title="Wallpapers/General">wg</a></span>] <span class="nwsb">[<a href="/i/"
                    title="Oekaki">i</a> / <a href="/ic/" title="Artwork/Critique">ic</a>] </span>[<span class="nwsb"><a
                    href="/r9k/" title="ROBOT9001">r9k</a> / </span><span class="nwsb"><a
                    href="/s4s/" title="Shit 4chan Says">s4s</a> / </span><a href="/vip/"
                title="Very Important Posts">vip</a> / <a href="/qa/" title="Question &amp; Answer">qa</a>] [<a
                href="/cm/" title="Cute/Male">cm</a> / <span class="nwsb"><a href="/hm/"
                    title="Handsome Men">hm</a> / </span><a href="/lgbt/" title="LGBT">lgbt</a><span class="nwsb"> / <a
                    href="/y/" title="Yaoi">y</a></span>] [<a href="/3/" title="3DCG">3</a> / <span
                class="nwsb"><a href="/aco/" title="Adult Cartoons">aco</a> / </span><a href="/adv/"
                title="Advice">adv</a> / <a href="/an/" title="Animals & Nature">an</a> / <a href="/asp/"
                title="Alternative Sports">asp</a> / <span class="nwsb"><a href="/bant/"
                    title="International/Random">bant</a> / </span><a href="/biz/" title="Business & Finance">biz</a> /
            <a href="/cgl/" title="Cosplay & EGL">cgl</a> / <a href="/ck/" title="Food & Cooking">ck</a> / <a
                href="/co/" title="Comics & Cartoons">co</a> / <a href="/diy/" title="Do It Yourself">diy</a> / <a
                href="/fa/" title="Fashion">fa</a> / <a href="/fit/" title="Fitness">fit</a> / <a href="/gd/"
                title="Graphic Design">gd</a> / <span class="nwsb"><a href="/hc/"
                    title="Hardcore">hc</a> / </span><a href="/his/" title="History & Humanities">his</a> / <a
                href="/int/" title="International">int</a> / <a href="/jp/" title="Otaku Culture">jp</a> / <a
                href="/lit/" title="Literature">lit</a> / <a href="/mlp/" title="Pony">mlp</a> / <a href="/mu/"
                title="Music">mu</a> / <a href="/n/" title="Transportation">n</a> / <a href="/news/"
                title="Current News">news</a> / <a href="/out/" title="Outdoors">out</a> / <a href="/po/"
                title="Papercraft & Origami">po</a> / <span class="nwsb"><a href="/pol/"
                    title="Politically Incorrect">pol</a> / </span><a href="/qst/" title="Quests">qst</a> / <a
                href="/sci/" title="Science & Math">sci</a> / <span class="nwsb"><a href="/soc/"
                    title="Cams & Meetups">soc</a> / </span><a href="/sp/" title="Sports">sp</a> / <a href="/tg/"
                title="Traditional Games">tg</a> / <a href="/toy/" title="Toys">toy</a> / <a href="/trv/"
                title="Travel">trv</a> / <a href="/tv/" title="Television & Film">tv</a> / <a href="/vp/"
                title="Pok&eacute;mon">vp</a> / <a href="/wsg/" title="Worksafe GIF">wsg</a> / <a href="/wsr/"
                title="Worksafe Requests">wsr</a> / <a href="/x/" title="Paranormal">x</a>] </span><span
            id="navtopright">[<a href="javascript:void(0);" id="settingsWindowLink">Settings</a>] [<a href="/search"
                title="Search">Search</a>] [<a href="//p.4chan.org/" title="Mobile">Mobile</a>] [<a
                href="/" target="_top">Home</a>]</span></div>
    <div id="boardNavMobile" class="mobile">
        <div class="boardSelect"> <strong>Board</strong> <select id="boardSelectMobile"></select> </div>
        <div class="pageJump"> <a href="#bottom">&#9660;</a> <a href="javascript:void(0);"
                id="settingsWindowLinkMobile">Settings</a> <a href="//p.4chan.org/">Mobile</a> <a
                href="/" target="_top">Home</a> </div>
    </div>
    <div class="boardBanner">
        <div id="bannerCnt" class="title desktop" data-src="85.png"></div>
        <div class="boardTitle">{{ title|safe }}</div>
    </div>
    <hr class="abovePostForm">
    <div class="navLinks mobile"><span class="mobileib button"><a href="/{{ board }}/" accesskey="a">Return</a></span> <span
            class="mobileib button"><a href="/{{ board }}/catalog">Catalog</a></span> <span class="mobileib button"><a
                href="#bottom">Bottom</a></span> <span class="mobileib button"><a href="#top_r"
                id="refresh_top">Refresh</a></span></div>
    <div id="mpostform"><a href="#" class="mobilePostFormToggle mobile hidden button">Post a Reply</a></div>
    <div style='position:relative'></div>
    <form name="post" action="/{{ board }}/post" method="post" enctype="multipart/form-data"><input
            type="hidden" name="MAX_FILE_SIZE" value="4194304"><input type="hidden" name="mode" value="regist"><input
            id="postPassword" name="pwd" type="hidden"><input type="hidden" name="resto" value="{{ thread.no }}">
        <div id="togglePostFormLink" class="desktop">[<a href="#">Post a Reply</a>]</div>
        <table class="postForm hideMobile" id="postForm">
            <tbody>
                <tr data-type="Name">
                    <td>Name</td>
                    <td><input name="name" type="text" tabindex="1" placeholder="Anonymous"></td>
                </tr>
                <tr class="mobile" data-type="Spoilers">
                    <td>Spoiler?</td>
                    <td class="mobileSpoiler">[<label><input type="checkbox" name="spoiler" value="on">Spoiler?</label>]
                    </td>
                </tr>
                <tr data-type="Options">
                    <td>Options</td>
                    <td><input name="email" type="text" tabindex="2"><input type="submit" value="Post" tabindex="6">
                    </td>
                </tr>
                <tr data-type="Comment">
                    <td>Comment</td>
                    <td><textarea name="com" cols="48" rows="4" wrap="soft" tabindex="4"></textarea></td>
                </tr>
                <!--<tr id="captchaFormPart">
                    <td class="desktop">Verification</td>
                    <td colspan="2">
                        <script
                            src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoaded&amp;render=explicit"
                            async defer></script>
                        <script>window.recaptchaKey = "6Ldp2bsSAAAAAAJ5uyx_lx34lJeEpTLVkP5k04qc";</script>
                        <div id="g-recaptcha"></div><noscript>
                            <div style="width: 302px;">
                                <div style="width: 302px; position: relative;">
                                    <div style="width: 302px; height: 422px;"> <iframe
                                            src="https://www.google.com/recaptcha/api/fallback?k=6Ldp2bsSAAAAAAJ5uyx_lx34lJeEpTLVkP5k04qc"
                                            frameborder="0" scrolling="no"
                                            style="width: 302px; height:422px; border-style: none;"></iframe> </div>
                                    <div
                                        style="width: 300px; height: 60px; border-style: none;bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                            class="g-recaptcha-response"
                                            style="width: 250px; height: 40px; border: 1px solid #c1c1c1;margin: 10px 25px; padding: 0px; resize: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </noscript>
                        <div class="passNotice">4chan Pass users can bypass this verification. [<a
                                href="https://www.4chan.org/pass" target="_blank">Learn More</a>] [<a
                                href="/auth">Login</a>]</div>
                    </td>
                </tr>-->
                <tr data-type="File">
                    <td>File</td>
                    <td><input id="postFile" name="upfile" type="file" tabindex="7"><span class="desktop">[<label><input
                                    type="checkbox" name="spoiler" value="on" tabindex="8">Spoiler?</label>]</span>
                </tr>
                <tr class="rules">
                    <td colspan="2">
                        <ul class="rules">
                            <li>Please read the <a href="/rules#a">Rules</a> and <a
                                    href="/faq">FAQ</a> before posting.</li>
                            <li> There are <strong id="unique-ips">20</strong> posters in this thread.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <div id="postFormError"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table id="blotter" class="desktop">
            <thead>
                <tr>
                    <td colspan="2">
                        <hr class="aboveMidAd">
                    </td>
                </tr>
            </thead>
            <!-- <tbody id="blotter-msgs">
                <tr>
                    <td data-utc="1493903967" class="blotter-date">05/04/17</td>
                    <td class="blotter-content">New trial board added: <a href="/bant/">/bant/ -
                            International/Random</a></td>
                </tr>
                <tr>
                    <td data-utc="1475592573" class="blotter-date">10/04/16</td>
                    <td class="blotter-content">New board for 4chan Pass users: <a href="/vip/">/vip/
                            - Very Important Posts</a></td>
                </tr>
                <tr>
                    <td data-utc="1466421827" class="blotter-date">06/20/16</td>
                    <td class="blotter-content">New 4chan Banner Contest with a chance to win a 4chan Pass! See <a
                            href="https://www.4chan.org/banner-contest">the contest page</a> for details.</td>
                </tr>
            </tbody> -->
            <tfoot>
                <tr>
                    <td colspan="2">[<a data-utc="1493903967" id="toggleBlotter" href="#">Hide</a>]<span> [<a
                                href="/blotter" target="_blank">Show All</a>]</span></td>
                </tr>
            </tfoot>
        </table>
    </form>
    <hr class="aboveMidAd">
    <div class="middlead center">
        <div><a href="/biz/"><img alt=""
                    src="/assets/image/contest_banners/29a4ae0384f7d4b44353457edb17e29e5c30da2b.gif"></a></div>
    </div>
    <div class="adt-800" data-d="xm0siulufost.com" id="container-eaed4d55144c813097d5aa84a204a7c2"
        style="max-width:800px;margin:auto;"></div>
    <hr class="desktop" id="op">
    <div class="navLinks desktop">[<a href="/{{ board }}/" accesskey="a">Return</a>] [<a href="/{{ board }}/catalog">Catalog</a>] [<a
            href="#bottom">Bottom</a>]</div>
    <hr>
    <form name="delform" id="delform" action="/{{ board }}/imgboard.php" method="post">
        <div class="board">
            <div class="thread" id="t{{ thread.posts[0].no }}">
                {% for post in thread.posts %}
                {% include '4chan_post.html' %}
                {% endfor %}
            </div>
            <hr>
            <div class="navLinks navLinksBot desktop">[<a href="/{{ board }}/" accesskey="a">Return</a>] [<a
                    href="/{{ board }}/catalog">Catalog</a>] [<a href="#top">Top</a>] </div>
            <hr class="desktop">
            <div class="mobile center"><a class="mobilePostFormToggle button" href="#">Post a Reply</a></div>
        </div>
        <div class="navLinks mobile"><span class="mobileib button"><a href="/{{ board }}/" accesskey="a">Return</a></span> <span
                class="mobileib button"><a href="/{{ board }}/catalog">Catalog</a></span> <span class="mobileib button"><a
                    href="#top">Top</a></span> <span class="mobileib button"><a href="#bottom_r"
                    id="refresh_bottom">Refresh</a></span></div>
        <hr class="mobile">
        <div class="adt-800" data-d="xm0siulufost.com" id="container-c0b83c42f274bdfa2042504993ae51a2"
            style="max-width:800px;margin:auto;"></div>
        <div class="bottomCtrl desktop"><span class="deleteform"><input type="hidden" name="mode" value="usrdel">Delete
                Post:<input type="hidden" name="res" value="{{ thread.no }}"> [<input type="checkbox" name="onlyimgdel"
                    value="on">File Only]<input type="hidden" id="delPassword" name="pwd"> <input type="submit"
                    value="Delete"><input id="bottomReportBtn" type="button" value="Report"></span><span
                class="stylechanger">Style: <select id="styleSelector">
                    <option value="Yotsuba New">Yotsuba</option>
                    <option value="Yotsuba B New">Yotsuba B</option>
                    <option value="Futaba New">Futaba</option>
                    <option value="Burichan New">Burichan</option>
                    <option value="Tomorrow">Tomorrow</option>
                    <option value="Photon">Photon</option>
                </select> </span></div>
    </form>
    <div id="absbot" class="absBotText">
        <div class="mobile"><span id="disable-mobile">[<a href="javascript:disableMobile();">Disable Mobile View / Use
                    Desktop Site</a>]<br><br></span><span id="enable-mobile">[<a
                    href="javascript:enableMobile();">Enable Mobile View / Use Mobile Site</a>]<br><br></span></div>
        <span class="absBotDisclaimer">All trademarks and copyrights on this page are owned by their respective parties.
            Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</span>
        <div id="footer-links"><a href="/faq#what4chan" target="_blank">About</a> &bull; <a
                href="/feedback" target="_blank">Feedback</a> &bull; <a
                href="/legal" target="_blank">Legal</a> &bull; <a href="/contact"
                target="_blank">Contact</a></div>
    </div>
    <div id="bottom"></div>
</body>

</html>